
#headname{
    color: rgb(55, 0, 255);
    margin: 50px 20px 50px 50px;
    text-align: center;
}
.container {
    
    margin: 100px 100px 100px 200px;
    color: red;
    background: white;
    text-align: center;
    border: 1px solid #B0C4DE;
 
    border-radius: 5px 5px 5px 5px;
    padding: 20px;
  }
.MakerReg {
  padding: 16px;
  margin: 00px 200px 100px 300px;
  }
.CheckerReg {
    padding: 16px;
    margin: 00px 200px 200px 500px;
    }
.ViewerReg
    {
      padding: 16px;
      margin: 00px 200px 200px 500px;
      }

hr {
          border: 1px solid #f1f1f1;
          margin-bottom: 25px;
        }

.registerbtn {
          background-color: #4CAF50;
          color: white;
          padding: 16px 20px;
          margin: 8px 0;
          border: none;
          cursor: pointer;
          width: 100%;
          opacity: 0.9;
        }

        input[type=text], input[type=password] {
          width: 100%;
          padding: 15px;
          margin: 5px 0 22px 0;
          display: inline-block;
          border: none;
          background: #f1f1f1;
        }
  